project/node_modules
project/public/hot
project/public/storage
project/storage/*.key
project/# /vendor
project/.idea
project/.vagrant
project/Homestead.json
project/Homestead.yaml
project/npm-debug.log
project/yarn-error.log
project/config
project/.env

